name: Deploy Admin Server

on:
  push:
    branches:
      - main
      - github-actions
  workflow_dispatch: # Allows manual trigger from GitHub UI

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy server files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          target: "/tmp/admin-deploy-server"
          rm: true # Clean target directory first
          strip_components: 0 # Behold mappestruktur

      - name: Execute deployment script on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            USER=${{ secrets.DEPLOY_RUN_AS_USER }}

            echo "TODO..."
